<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="./assets/imagem/logo.png"></use></svg>
        <span class="fs-4">NG-Food</span>
      </a>
  
      <ul class="navabr-container nav nav-pills">
        <li class="nav-item"><a routerLinkActive="active" routerLink="">Cardápio</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/comida">Comida</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/bebida">Bebidas</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/pedido">
          <span class="badge badge-pill btn btn-primary">{{buscaTotalItem() }} </span> Pedido</a></li>
        
      </ul>
    </header>
  </div>
